.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo{
    width: 100px;
}

.nav-items{
    padding-right: 5%;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 18px;
}

.body{
    background-color: bisque;
}

.search {
    padding: 10px;
    margin-bottom: 10px;
    background-color: seagreen;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    padding: 5px;
    margin: 5px;
    width: 160px;
 
    border: 1px solid black;
}

.res-card:hover{
    border: 2px solid darkgrey;
}

.res-logo{
    width: 100%;
}

.res-card > li {
    font-size: 12px;
    list-style-type: none;
}